name: Lint Commit Messages

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install commitlint
        run: |
          npm install --save-dev @commitlint/config-conventional @commitlint/cli

      - name: Validate PR commits with commitlint
        uses: wagoid/commitlint-github-action@v5